.contact-page {
    position: relative;
    padding-top: 150px;
    background: #f4f4f9;
    background: url('https://www.datocms-assets.com/34814/1601671232-c-dustin-91aqt9p4mo8-unsplash.jpg');
    background-size: cover;
    background-position: bottom center;
}

.about-page-content {
    z-index: 2;
}

.contact-page .overlay-color {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: #f4f4f9;
    opacity: .85;
}

.contact-page .form {
    margin-top: 25px;
    background: white;
    box-shadow: 0px 0px 15px 0px #29313248;
    padding: 25px;
    border-radius: 3px;
    position: relative;
}

.about-page-content .body-content {
    position: relative;
    padding-left: 25px;
}

@media only screen and (min-width: 768px) {
    .contact-page .form {
        margin-top: 50px;
        padding: 50px;
    }
}

@media only screen and (min-width: 1024px) {

    .contact-page {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-page .form {
        padding: 50px 15px;
    }

    .form .form-group {
        padding: 0 15px;
    }

    .contact-page .about-page-content {
        width: 45%;
    }

    .form .button-group button {
        width: 150px;
    }
}

@media only screen and (min-width: 1216px) {

    .contact-page {
        display: flex;
        height: 100vh;
        justify-content: space-evenly;
        padding: 150px 150px 25px 150px
    }

    .contact-page .about-page-content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 75%;
    }

    .contact-page .form {
        width: 100%;
        margin-top: 50px;
        /* margin-left: 25px; */
    }

}

@media only screen and (min-width: 1400px) {
    .contact-page {
        padding: 150px 350px 25px 350px
    }

    .form .button-group button {
        width: 175px;
    }    
}
