/* Hero Section */

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: url("https://occumedx.s3.us-east-2.amazonaws.com/city.jpg");
}

.hero-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    white 10%,
    rgba(240, 204, 204, 0.07) 73.02%,
    rgba(22, 22, 22, 0.85) 91.92%
  );
}

.hero h1 {
  padding: 0 30px;
  margin: 10px;
  font-size: 14px;
  /* font-weight: 600; */
  font-family: 'Work Sans';
  text-align: center;
  z-index: 2;
}

.hero img {
  width: 350px;
  z-index: 2;
}

.fa-chevron-down {
  font-size: 20px;
  color: #ce2026;
  position: absolute;
  bottom: 65px;
}

@media only screen and (min-width: 768px) {
  .hero img {
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    background-position: center bottom;
  }

  .hero h1 {
    padding: 0 50px;
    font-size: 16px;
    width: 45%;
  }
}

@media only screen and (min-width: 1216px) {
  .hero img {
    width: 600px;
  }
}

/* Services Section  */

.services-section {
  background: #293132;
  color: #f4f4f9;
}


/* About Section */

.about-inside-wrapper {
  z-index: 3;
}

.about-overlay-color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 254, 254, 0.89);
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px) grayscale(100%);
  background-image: url(../testImages/test2.jpg);
}

.about-content {
  position: relative;
}

.about-header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 35px 15px;
  padding-bottom: 35px;
  overflow: hidden;
  background-image: url('https://occumedx.s3.us-east-2.amazonaws.com/about_bluePrintPaper.png');
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0% 95% );
}

.header-wrapper {
  filter: drop-shadow(0px 8px 0px #293132);
}

.about-header img {
  width: 100%;
  object-fit: cover;
}

.about-section {
  background: #f4f4f9;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: solid 2px #ce2029;
  padding-left: 15px;
}

.section-title .body-content {
  text-align: start;
}

.section-title button {
  width: 75%;
  margin: 0;
  margin-top:10px;
  font-size: 16px;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-body-content {
  font-size: 14px;
  text-align: start;
  font-weight:300;
}

/* Contact Section  */

.contact-section {
  width: 100vw;
  background: #f4f4f9;
}

.contact-section h3 {
  text-align: start;
  margin: 0;
}

/* Footer Section  */


.block-wrapper {
  width: 40%;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-block h6 {
  text-align: start;
}

.footer-banner {
  padding: 10px;
  background: #000505;
  color: #f4f4f9;
}

.contact-lower {
  border-top: solid 5px #ce2029;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 75px;
  }

  .about-body-content {
    font-size: 18px;
    width: 90%;
  }

  .block-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-block {
    width: 225px;
  }

  .footer-block h6 {
    font-size: 18px;
  }

  .footer-content {
    font-size: 13px;
  }

  .about-body-content {
    width: 100%;
  }

  .about-header {
    justify-content: center;
    align-items: center;
    padding: 75px 25px;
  }

  .about-header img {
    width: 70%;
    object-fit: contain;
    margin: 0 auto;
  }

  .section-title button {
    width: 35%;
  }
}

@media only screen and (min-width: 1024px) {

  .hero {
    background-position: 50% 75%;
  }

  .contact-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .about-values {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .section-title .body-content {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }

  .about-header {
    flex-direction: row;
  }

  .about-header img {
    width: 55%;
    margin: 0 10px;
  }

  .section-title {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 275px;
    margin-bottom: 75px;
    border-left: none;
    padding: 0;
    border-bottom: solid 1px #ce2029;
    padding-bottom: 25px;
  }

  .section-title button {
    margin: 0;
    width: 175px;
  }

  .contact-lower {
    position: absolute;
    right: 0;
    top: 10%;
    background: #f4f4f9d2;
    border-top: none;
    border-left: 5px solid  #ce2029;
  }

}

@media only screen and (min-width: 1216px) {
  .contact-section {
    overflow: hidden;
  }

  .body-content {
    font-size: 18px;
  }

  .section-title {
    margin: 25px 325px;
    margin-bottom: 75px;
  }

  .section-title .body-content {
    font-size: 20px;
    margin-top: 15px;
  }

  .contact-lower {
    right: 3%;
    top: 7%;
    border-left: solid 5px #ce2029;
  }

  .about-header {
    padding: 75px 5px;
    justify-content: center;
  }

}

@media only screen and (min-width: 1700px) {
  .hero {
    background-position: 50% 80%;
  }

  .about-values {
    justify-content: center;
  }

  .section-title {
    margin: 25px 525px;
    margin-bottom: 75px;
  }

  .section-title .body-content {
    font-size: 20px;
    margin-top: 25px;
    padding: 0 25px;
  }

  .contact-lower {
    right: 20%;
  }
}
