.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 25px;
  z-index: 10;
  background-color: transparent;
  filter: grayscale(100%);
  transition: 0.35s ease-out;
}

.nav-overlay {
  background: #293132;
  filter: grayscale(0%);
  padding: 15px;
}

@media only screen and (min-width: 1024px) {
  .nav {
    padding: 75px;
  }

  .nav-overlay {
    padding: 15px 50px;
  }

  .nav-logo {
    display: flex; 
    justify-content: center;
  }
}

@media only screen and (min-width: 1216px) {
  .nav {
    padding: 75px 150px;
  }

  .nav-overlay {
    padding: 15px 150px;
  }
}
