.card {
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 2px #2931326e;
  background: #f4f4f9;
}

.card-alt {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0 15px;
}

.icon-alt {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ce2029;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}

.card .body-content {
  padding: 50px 35px;
  padding-top: 20px;
  text-align: center;
}

.card button {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #ce2029;
  margin: 0;
  color: #f4f4f9;
  margin-top: auto;
  padding: 15px 0;
}

.card a {
  width: 100%;
}

.card h4 {
  font-size: 18px;
}

.fa-map-marker-alt, .fa-dollar-sign, .fa-star {
  font-size: 35px;
  margin-top: 75px
}

.faBookMedical, .faBolt, .faChartLine, .faAmbulance, .faCompass {
  margin-top: 0;
  /* font-size: 105px; */
}

@media only screen and (min-width: 768px) {
  .card {
    margin-top: 75px;
  }

  .card .body-content {
    padding: 50px 100px;
    font-size: 20px;
  }

  .card h4 {
    font-size: 22px;
  }

  .fa-map-marker-alt, .fa-dollar-sign, .fa-star {
    font-size: 40px;
  }

  .card button {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    margin-top: 0;
    width: 30%;
  }

  .card .body-content {
    padding: 25px;
    padding-bottom: 50px;
  }

  .fa-map-marker-alt, .fa-dollar-sign, .fa-star {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1700px) {
  .card {
    width: 22%;
    margin: 0 35px;
  }

  .card .body-content {
    padding: 50px;
    padding-bottom: 75px;
  }
}